# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.env

# Данные
data/
results/
logs/

# Временные файлы
*.tmp
*.bak
deployment_package/
deployment_package.zip

# IDE
.vscode/
.idea/

# Python cache
temp/
*.pyc

