# Основные зависимости
fastapi>=0.68.0
uvicorn>=0.15.0
pandas>=1.3.0
redis>=4.0.0
python-multipart>=0.0.5
aiofiles>=0.7.0
jinja2>=3.0.1
openpyxl>=3.0.7

# Зависимости для валидации данных
pydantic>=1.8.2
starlette>=0.14.2

# Зависимости для работы с данными
python-dateutil>=2.8.2

# Зависимости для логирования
colorama>=0.4.4
python-json-logger>=2.0.2